{% extends 'base.html' %}
{% load static %}
{% block title %}Страница поста{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Просмотр поста "{{ post.post_subject }}"</h2>
        </div>
        <div class="d-block font-weight-bold mb-2">Автор: <span
                class="font-weight-normal">{{ post.post_user }}</span>
        </div>
        <div class="d-block font-weight-bold mb-2">Тэги: <span
                class="font-weight-normal">{{ post.post_body }}</span>
        </div>
        <div class="d-block font-weight-bold mb-2">Дата написания: <span
                class="font-weight-normal">{{ post.created_date.date }}</span>
        </div>
        <div class="d-block font-weight-bold mb-2">Текущий рейтинг: <span
                class="font-weight-normal">{{ post.rating }}</span>
        </div>
    </div>
{% endblock %}
