certifi==2020.6.20
chardet==3.0.4
Django==2.1
djangorestframework==3.11.0
gunicorn==19.9.0
idna==2.8
Pillow==7.2.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pytz==2020.1
requests==2.22.0
urllib3==1.25.10
