{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Просмотр профиля "{{ current_user.user.username }}"</h2>
        </div>
        <div class="d-block font-weight-bold mb-2">Логин: <span
                class="font-weight-normal">{{ current_user.user.username }}</span>
        </div>
        <div class="d-block font-weight-bold mb-2">ФИО: <span
                class="font-weight-normal">{{ current_user.full_name }}</span>
        </div>

        <div class="d-block font-weight-bold mb-2">Создание постов:
            {% if current_user.create_post_status %}
                <span class="font-weight-normal">Доступно</span>
            {% else %} <span class="font-weight-normal">Заблокировано</span>{% endif %}
        </div>
        <div class="d-block font-weight-bold mb-2">Доступ к блоку:
            {% if current_user.access_status %}
                <span class="font-weight-normal">Открыт</span>
            {% else %} <span class="font-weight-normal">Закрыт</span>{% endif %}
        </div>
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Посты пользователя</h2>
        </div>
        {% for post in users_posts %}
            {% if request.user.is_superuser %}
                {% if post.activity %}
                    <a href="{% url 'change_post_status' post.pk %}">Отключить в ленте</a>
                {% else %} <a href="{% url 'change_post_status' post.pk %}">Включить в ленте</a>{% endif %}
            {% elif user.is_authenticated %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" href="{% url 'increase_post_rating' post.pk %}">Поднять рейтинг</a>
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" href="{% url 'decrease_post_rating' post.pk %}">Опустить рейтинг</a>
                    </button>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action m-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="font-weight-bolder">{{ post.post_subject }}</h5>
                        <small>Рейтинг: {{ post.rating }}</small>
                    </div>
                    {% if post.tag %}
                        <p class="font-weight-normal d-block">Тэги: {{ post.tag }}</p>
                    {% else %} <p class="font-weight-normal">Нет тэгов</p>
                    {% endif %}
                    <small>Автор: {{ post.post_user }}</small>
                    <small class="d-block">Дата написания: {{ post.created_date.date }}</small>

                </a>
            {% else %} <a href="" class="list-group-item list-group-item-action m-1">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bolder">{{ post.post_subject }}</h5>
                    <small>Рейтинг: {{ post.rating }}</small>
                </div>
                {% if post.tag %}
                    <p class="font-weight-normal d-block">Тэги: {{ post.tag }}</p>
                {% else %} <p class="font-weight-normal">Нет тэгов</p>
                {% endif %}
                <small>Автор: {{ post.post_user }}</small>
                <small class="d-block">Дата написания: {{ post.created_date.date }}</small>

            </a>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}