{% extends "base.html" %}

{% block title %}Users list{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Список стран к оторым создавались посты</h2>
        </div>
        <ul class="list-group list-group-flush w-50">
            {% for user in country_list %}
                {{ user }}
{#                <li class="list-group-item p-2"><a#}
{#                        href="{% url 'user_detail' user.pk %}"#}
{#                        class="text-decoration-none text-dark d-block">#}
{#                    {{ forloop.counter }}. {{ user.user.username.capitalize }}</a>#}
{#                    <p>Количество постов:{{ post_count }} </p>#}
{#                    <div class="icons">#}
{#                        {% if user.access_status %}#}
{#                            <a href="{% url 'change_access_status' user.pk %}">Заблокировать</a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'change_access_status' user.pk %}">Разблокировать</a>{% endif %}#}
{#                        <br>#}
{#                        {% if user.create_post_status %}#}
{#                            <a href="{% url 'change_create_post_status' user.pk %}">Запретить создание#}
{#                                постов</a>#}
{#                        {% else %}<a href="{% url 'change_create_post_status' user.pk %}">Разрешить создание#}
{#                            постов</a>{% endif %}#}
{#                    </div>#}
{#                </li>#}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
