{% extends "base.html" %}
{% block title %}Post list{% endblock %}
{% block content %}
    <div class="list-group">
        <div class="text-center"><h2>Список стран к которым создавались посты</h2></div>
        <br>
        {% for post in country_list %}
            {% if user.is_authenticated %}
                <a href="{% url 'country_detail' post.pk %}" class="list-group-item list-group-item-action m-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="font-weight-bolder">{{ post.name }}</h5>
                        <small>Население: {{ post.population }}</small>
                    </div>
                    {% if post.capital %}
                        <p class="font-weight-normal d-block">Столица: {{ post.capital }}</p>
                    {% else %} <p class="font-weight-normal">Нет тэгов</p>
                    {% endif %}
                    <small class="d-block">Регион: {{ post.region }}</small>
                </a>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
