{% extends "base.html" %}
{% block title %}Post list{% endblock %}
{% block content %}
    <div class="list-group">
        {% if user.is_authenticated and not request.user.is_superuser %}
            <a role="button" class="btn btn-success mr-2 btn-sm" id="program_add"
               href="{% url 'post_create' %}">
                            <span class="text-decoration-none text-dark"
                                  style="font-size: 12px">Добавить пост</span>
            </a>
        {% endif %}
        <div class="text-center"><h2>Список постов</h2></div>
        <br>
        {% for post in post_list %}
            {% if request.user.is_superuser %}
                {% if post.activity %}
                    <a href="{% url 'change_post_status' post.pk %}">Отключить в ленте</a>
                {% else %} <a href="{% url 'change_post_status' post.pk %}">Включить в ленте</a>{% endif %}
            {% elif user.is_authenticated %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" href="{% url 'increase_post_rating' post.pk %}">Поднять рейтинг</a>
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a class="text-light" href="{% url 'decrease_post_rating' post.pk %}">Опустить рейтинг</a>
                    </button>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'post_detail' post.pk %}" class="list-group-item list-group-item-action m-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="font-weight-bolder">{{ post.post_subject }}</h5>
                        <small>Рейтинг: {{ post.rating }}</small>
                    </div>
                    {% if post.tag %}
                        <p class="font-weight-normal d-block">Тэги: {{ post.tag }}</p>
                    {% else %} <p class="font-weight-normal">Нет тэгов</p>
                    {% endif %}
                    <small>Автор: {{ post.post_user }}</small>
                    <small class="d-block">Дата написания: {{ post.created_date.date }}</small>

                </a>
            {% else %} <a href="" class="list-group-item list-group-item-action m-1">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bolder">{{ post.post_subject }}</h5>
                    <small>Рейтинг: {{ post.rating }}</small>
                </div>
                {% if post.tag %}
                    <p class="font-weight-normal d-block">Тэги: {{ post.tag }}</p>
                {% else %} <p class="font-weight-normal">Нет тэгов</p>
                {% endif %}
                <small>Автор: {{ post.post_user }}</small>
                <small class="d-block">Дата написания: {{ post.created_date.date }}</small>

            </a>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
